*.o
*.obj
*.d

# we want to ignore the test binaries, but keep the README.md,
# so that the directory does not disappear from GitHub
C/bin/*
!C/bin/README.md

# we want to keep the .mex files
# matlab/mex/*

matlab/data/*
!matlab/data/README.md
